div {
  width: 480px;
  margin: 50px auto;
}

div:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

@media only screen and (min-width: 768px) {
  div {
    width: 960px;
  }
}

header {
  height: 75px;
  background-color: #D8D8D8;
}

@media only screen and (min-width: 768px) {
  header {
    height: 100px;
    background-color: #B9F7BC;
  }
}

footer {
  clear: both;
  height: 80px;
  background-color: #D8D8D8;
}

@media only screen and (min-width: 768px) {
  footer {
    clear: none;
    float: left;
    width: 760px;
    height: 150px;
    background-color: #B9F7BC;
  }
}