div {
  width: 480px;
  margin: 50px auto;
}

div:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

@media only screen and (min-width: 768px) {
  div {
    width: 960px;
  }
}

header {
  height: 75px;
  background: url(https://placehold.it/480x75/D8D8D8) center center no-repeat;
}

@media only screen and (min-width: 768px) {
  header {
    height: 100px;
    background: url(https://placehold.it/960x100/B9F7BC) center center no-repeat;
  }
}

aside {
  height: 150px;
  background: url(https://placehold.it/480x150/D8D8D8) center center no-repeat;
}

@media only screen and (min-width: 768px) {
  aside {
    float: left;
    width: 200px;
    height: 600px;
    background: url(https://placehold.it/200x600/B9F7BC) center center no-repeat;
  }
}

section {
  height: 125px;
  background: url(https://placehold.it/480x125/D8D8D8) center center no-repeat;
}

@media only screen and (min-width: 768px) {
  section {
    float: left;
    width: 380px;
    height: 200px;
    background: url(https://placehold.it/380x200/B9F7BC) center center no-repeat;
  }
}

article {
  height: 250px;
  width: 240px;
  float: left;
  background: url(https://placehold.it/240x250/D8D8D8) center center no-repeat;
}

@media only screen and (min-width: 768px) {
  article {
    float: left;
    width: 190px;
    height: 250px;
    background: url(https://placehold.it/190x250/B9F7BC) center center no-repeat;
  }
}

footer {
  clear: both;
  height: 80px;
  background: url(https://placehold.it/480x80/D8D8D8) center center no-repeat;
}

@media only screen and (min-width: 768px) {
  footer {
    clear: none;
    float: left;
    width: 760px;
    height: 150px;
    background: url(https://placehold.it/760x150/B9F7BC) center center no-repeat;
  }
}