/* Mobile View */
div {
  background-color: #D8D8D8;
}

/* Tablet View */
@media only screen and (min-width: 768px) {
  div {
    background-color: #B9F7BC;
  }
}

/* Desktop View */
@media only screen and (min-width: 960px) {
  div {
    background-color: rgb(146, 230, 255);
  }
}